/*ARCH*/
.site-name {
	padding-left: 20px;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	background-color:	#fadadd !important;   
	/*background-color: hsl(48, 78%, 86%);  */  
}

.visitor-background {
	margin-top:0px;
	margin-bottom: 20px;
	height: 60rem;
	background-image: url("/Seed-Web/javax.faces.resources/pictures/smlogo.png.xhtml");
    background-repeat: no-repeat;
    background-size: 1448px;
    background-position:center;
    /*overflow-y: auto; */
}

.connectedContent {
	background-color: white;
	opacity: 85%;
	height:auto;
	min-height: 500px;
	border-radius:5%;
	padding: 5px;
}

.content {
	min-height: 25rem;
	box-shadow: black;
	z-index: 0;
	opacity:100%;
}

.panel-group .panel {
	max-height: 90vh;
	position: relative;
	overflow-y: auto;
}

.disconnectedContent {
	opacity:93%;
	max-height: 82vh;
	position: relative;
	overflow-y: auto;
}

.footer {
	position: sticky;
	bottom: 0;
	width: 100%;
	height: 40px;
	margin-top: auto;
	background-color: hsl(239, 57%, 38%); 
	color: white;
	text-align: center;
	z-index:1;
}

.footer a:hover {
	color: white;
}

.legal {
	text-align: justify;
	margin: auto;
	padding: 10px;
	opacity: 60%;
}

/*GENERIC ELEMENTS*/
.page-body {
	text-align: center;
}

.flex-content {
	display: flex;
	flex-flow:wrap row;
	justify-content: space-evenly;
}

.btn-primary {
	background-color: hsl(239, 57%, 38%);
	color:white;
}

.btn-primary:hover {
	background-color: #8B008B;
	text-align:center;
	width:115px;
	height:48px;
}

.button {
	background-color: hsl(239, 57%, 38%);
	color:white;
}
.button:hover {
	background-color: #8B008B;
	color:white;
}

p:commandButton {
	background-color: hsl(239, 57%, 38%); 
	color:white;
	font-size:14px;
}

p:commandButton:hover {
	background-color: #8B008B;
	color:white;

}

/*SEARCH PAGE*/
.level-element {
	margin: 5px;
	padding: 10px;
}
.theme-button {
	margin: 5px;
	padding: 10px;
	min-height: 100px;
	min-width: 100px;
	border-radius: 50%;
	background-color: hsl(239, 57%, 38%) !important;
	color: white !important;
	border-color: hsl(239, 57%, 38%) !important;
	box-shadow: 2px black;
}

.theme-button:hover {
	border-color: #8B008B;
	background-color: #8B008B;
	color:white;
}

.lesson-button {
	margin: 5px;
	padding: 10px;
	min-height: 100px;
	min-width: 100px;
	background-color: hsl(239, 57%, 38%);
	color: white;
}

.lesson-button:hover {
	background-color: #8B008B;
	color:white;
	}


/*TEST SEARCH BAR*/
.wrapper {
  max-width: 70rem;
  margin: 6rem auto;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.label {
  font-size: .630rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: +1.3px;
  margin-bottom: 1rem;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 3rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 1rem 0 2rem;
  font-size: 1rem;
}

#searchQueryInput:hover {
	background-color: #b3d6d6;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 3 rem;
  margin-left: -4.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

/*TERM FLASHCARD*/
.tab-content {
	border-left: 2px solid #0052a4;
	border-right: 2px solid #0052a4;
	border-bottom: 2px solid #0052a4;
	padding:10px;
	height: 30em;
	width: 65em;
	box-shadow: black;
	display: flex;
	overflow:auto;
	position: fixed;
}

.flex-column {
	display: flex;
	flex-direction: column;
	direction:rtl;
	max-height: 35em;
	padding: 1em;
	overflow-y: auto;
	text-align: left;
	margin-top: 2em;
	}

.flashcard-element-1 {
	text-align: left;
	width: 20rem;
	height: 24em;
	color: #0052a4;
}

.term-info {
	direction: ltr; 
	margin-left: 10px;
}

.flashcard-element-2 {
	width: 15rem;
	text-align: left;
	margin-top:1.3em;
	height: 24em;
	color: #0052a4;
}

.flashcard-element-3 {
	text-align: left;
	width: 50rem;
	height: 20em;
	margin-top: 5.9em;
	color: #0052a4;
	direction: ltr;
}

.flashcard {
	display: flex;
	flex-direction: wrap row !important;
	justify-content:left;
	direction:ltr;
}

audio {
	max-width: 12rem !important;
	border-radius: 70%;
	margin-left: 5px;
	margin-top: 3px;
}

/*LOGIN PAGE*/
#loginForm {
	position: relative;
	margin:auto;
	margin-right:10%;
	opacity: 93%;
}

.blockPage {
opacity: 0 !important;
}

.padding-1rem {
padding: 1rem !important;
}

.width-100 {
	width: 100% !important;
	background-color:hsl(239, 57%, 38%); /* #0052a4;*/
	color:white;
}

.width-100:hover {
	background-color: #8B008B;
	color:white;
}

.top-1rem {
	position: relative !important;
	top: 1rem !important;
}

/*DASHBOARD*/
.full-width-div {
	width: 102rem;
}

.forecast {
	margin-left: 7rem;
}

.acquisition-overview {
	border: solid grey 2px;
	background-color: hsl(217, 89%, 61%);
	color:white;
	max-width: 20rem;
	width: 18rem;
	height:18rem;
	max-height: 20rem;
	padding: 15px;
	margin-top:2.5em;
	margin-bottom:2.5em;
	text-align: center;
	border-radius: 50%;
	flex-shrink: 15%;
}

.dashboard-button {
	width:21rem;
	margin-top: 5rem;
	margin-left: auto;
	margin-right: 55%;
	flex-shrink: 50%;
	position: relative;
	font-size: 18pt;
	padding: 2.5em;
	background-color: #fadadd;
}

.leftbutton {
	margin-left:17rem;
	margin-right:5rem;
}

.rightbutton {
	margin-right:17rem;
	margin-left:5rem;
}

.dashboard-button:hover {
	background-color:  hsl(217, 89%, 61%);
	color:white;
}
.dashboard-button:hover > .sessionNb {
	background-color:  white;
	color:hsl(217, 89%, 61%);
}

.sessionNb {
	background-color:  hsl(239, 57%, 38%);
	color:white;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	position: absolute;
  	right: 0;
 	bottom: 0;
 	margin: 8px;
}

/*LESSON SESSION */
.sessionPanel {
	padding:10px;
	height: 33em;
	width: 65em;
	box-shadow: black;
	overflow:auto;
	margin-top: 1.5em;
	position: relative;
}

.sessionPseudoClass {
	width:65em; 
	padding-top:1em; 
	margin:auto;
}

.left-carouselBtn {
	position:absolute;
	right:0px;
	}

.endButtonPseudoClass {
	position:absolute;
	right:10em;
}

/*EXERCISE SESSION*/
.inView {
	display: flex;
	margin:auto;
	margin-bottom: 25px;
	margin-top: 5px;
	justify-content:center;
}

.hidden {
	display: none;
	margin-bottom: 25px;
	margin-top: 5px;
	justify-content:center;
}

.fullaudio {
	border-radius: 50%;
	size: 20rem;
}

.well {
	text-align: center;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 4rem;
}

.exSessionBanner {
	margin-top: 8rem;
}

/*SIGN UP PAGE*/
.signupForm {
	background-color:white; 
	opacity:94%; 
	margin:auto; 
	border-radius: 5%; 
	text-align:center; 
	width:50rem; 
	padding:40px;
}

/*PROFILE*/

body .ui-fieldset .ui-fieldset-legend {
	background-color: hsl(239, 57%, 38%);
	color: white;
}

body .ui-fieldset .ui-fieldset-legend.ui-state-hover {
	background-color: #8B008B !important;
	color: white;
}

/*ERROR PAGE*/

.errorPage {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 20px;
	padding-top:20px;
}

.sadTree {
	max-width:25%;
}

.sadtree-sm {
	display: none;
}

.errorPageMessage {
	max-width: 50%;
	display: flex;
	flex-flow: column wrap;
	margin: auto;
}														

															/*RESPONSIVE MEDIA QUERIES*/

/*IPhone*/
@media (max-width: 600px) {
	.visitor-background {
	margin-top:0px;
	margin-bottom: 10px;
	height: 72rem;
	background-image: url("/Seed-Web/javax.faces.resources/pictures/smlogo.png.xhtml");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position:bottom;
    overflow-y: auto; 
}

.disconnectedContent {
	opacity:93%;
	position: relative;
	overflow-y: auto;
}

 .hideOnSmall {
 	display: none;
 }
 
.signupForm {
	background-color:white; 
	opacity:94%; 
	margin:auto; 
	border-radius: 5%; 
	text-align:center; 
	width:35rem; 
	padding:20px;
}

#loginForm {
	position:relative;
	margin:auto;
	opacity: 93%;
	max-width:400px;
}

/*DASHBOARD*/
.full-width-div {
	max-width:300px;
}

.forecast {
	margin-left: 5%;
}

.acquisition-overview {
	border: solid grey 2px;
	background-color: hsl(217, 89%, 61%);
	color:white;
	max-width: 20rem;
	width: 18rem;
	height:18rem;
	max-height: 20rem;
	padding: 15px;
	margin-top:2.5em;
	margin-bottom:2.5em;
	text-align: center;
	border-radius: 50%;
	flex-shrink: 15%;
}

.dashboard-button {
	width:15rem;
	margin:auto;
	margin-left:5px;
	margin-bottom:15px;
	flex-shrink: 50%;
	position: relative;
	font-size: 14pt;
	padding: 2em;
	background-color: #fadadd;
}

.dashboard-button:hover {
	background-color:  hsl(217, 89%, 61%);
	color:white;
}
.dashboard-button:hover > .sessionNb {
	background-color:  white;
	color:hsl(217, 89%, 61%);
}

.sessionNb {
	background-color:  hsl(239, 57%, 38%);
	color:white;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	position: absolute;
  	right: 0;
 	bottom: 0;
 	margin: 8px;
}

.connectedContent {
	background-color: white;
	opacity: 85%;
	height:auto;
	width:auto;
	border-radius:0%;
	padding: 15px;
	max-width: 330px;
	text-align: center;
}

.sessionPanel {
	padding:10px;
	height: 33em;
	max-width:350px;
	box-shadow: black;
	overflow:auto;
	margin-top: 1.5em;
	position: relative;
}

.sessionPseudoClass {
	max-width:350px;
	padding-top:1em; 
	margin:auto;
	min-height: 600px;
}

.carouselControl {
	padding: 1px;
	height:fit-content;
	width: fit-content;
	margin: 1px;
}

.endButtonPseudoClass {
	right: 5em;
}

.flashcard-element-1 {
	text-align: center;
	color: #0052a4;
	height: auto;
	margin: auto;
}

.term-info {
	direction: ltr; 
}

.flashcard-element-2 {
text-align: center;
	color: #0052a4;
	height: auto;
	margin: auto;
}

.flashcard-element-3 {
	text-align: center;
	color: #0052a4;
	direction: ltr;
	height: auto;
	margin: auto;
}

.flashcard {
	display: flex;
	flex-flow: wrap;
	flex-direction:row;
	justify-content:center;
	direction:ltr;
	text-align:center;
	max-width:205px;
	height: auto;
	margin:auto;
}

.errorPage {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 2px;
	margin: auto;
}

.sadtree {
	display: none;
}

.errorPageMessage {
	display: flex;
	flex-flow: column wrap;
	margin: auto;
}	

.sadtree-sm {
	display:flex;
	size:25%;
	margin: auto;
	max-height: 200px;
	max-width:200px;
}

.tab-content {
	border-left: 2px solid #0052a4;
	border-right: 2px solid #0052a4;
	border-bottom: 2px solid #0052a4;
	padding:10px;
	height: auto;
	width: auto;
	box-shadow: black;
	display: flex;
	overflow:auto;
	position: relative;
}

}
