<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<ui:insert name="head"></ui:insert>
	<link rel="icon" type="image/png"
		href="#{request.contextPath}/resources/pictures/redtree.ico" />
	<h:outputStylesheet library="css" name="style.css" position="last" />
	<h:outputStylesheet library="css" name="navstyle.css" position="last" />
</h:head>
<h:body>
	
	<div class="site-name">
		<img src="resources/pictures/logo.png" alt="Learning Tree logo" style="max-height: 80px; max-height:80px; text-align:left;"/>
	</div>
	<ui:fragment rendered="#{mbStudent.isConnected()}">
		<div id="circularMenu" class="circular-menu">

			<a class="floating-btn"
				onclick="document.getElementById('circularMenu').classList.toggle('active');">
				<i class="fa fa-bars"></i>
			</a>

			<h:form>
				<menu class="items-wrapper">
					<a href="helppage.xhtml" class="connected-menu-item menu-item"><b:iconAwesome
							value="fa-question"></b:iconAwesome></a>
					<a href="findlesson.xhtml" class="menu-item connected-menu-item">
						<b:iconAwesome value="fa-book"></b:iconAwesome>
					</a>
					<a href="profile.xhtml" class="connected-menu-item menu-item">
						<b:iconAwesome value="fa-user"></b:iconAwesome>
					</a>
					<a href="index.xhtml" class="connected-menu-item menu-item"> <b:iconAwesome
							value="fa-home"></b:iconAwesome></a>

					<b:commandLink action="#{mbStudent.disconnect()}"
						class="connected-menu-item menu-item" ajax="true">
						<b:iconAwesome value="fa-sign-out"></b:iconAwesome>
					</b:commandLink>

				</menu>
			</h:form>


		</div>
	</ui:fragment>

	<ui:fragment rendered="#{!mbStudent.isConnected()}">
		<div id="circularMenu" class="circular-menu">

			<a class="floating-btn"
				onclick="document.getElementById('circularMenu').classList.toggle('active');">
				<i class="fa fa-bars"></i>
			</a>

			<menu class="items-wrapper">
				<a href="helppage.xhtml" class="menu-item"><b:iconAwesome value="fa-question"></b:iconAwesome>
				</a>
				<a href="signup.xhtml" class="menu-item"> <b:iconAwesome
						value="fa-user-plus"></b:iconAwesome></a>
				<a href="login.xhtml" class="menu-item"> <b:iconAwesome
						value="fa-sign-in"></b:iconAwesome></a>
				<a href="landingpage.xhtml" class="menu-item"> <b:iconAwesome
						value="fa-home"></b:iconAwesome></a>
			</menu>
		</div>
	</ui:fragment>

	<b:container>
		<b:row>
			<b:column style-class="content">
				<ui:insert name="content"></ui:insert>
			</b:column>
		</b:row>
	</b:container>

	<div class="footer">
		<h5>
			LearningTree - 2022 - <a href="cgu.xhtml">CGU</a> - <a
				href="privacy.xhtml">Politique de confidentialité</a>
		</h5>
	</div>
	<h:outputScript library="js" name="session.js" />
</h:body>
</html>