<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/connectedarch.xhtml">
	<ui:define name="head">
		<title>Erreur</title>
	</ui:define>
	<ui:define name="content">
		<b:container>
			<b:jumbotron class="errorPage">
				<h:graphicImage
					value="/resources/pictures/sadTreetransparent-sm.png"
					class="sadtree" />
				<div class="errorPageMessage">
					<h1>Une erreur s'est produite.</h1>
					<br></br>
					<p>Veuillez réessayer.</p>
				</div>
				<h:graphicImage
					value="/resources/pictures/sadTreetransparent-sm.png"
					class="sadtree-sm" />
			</b:jumbotron>
		</b:container>
	</ui:define>
</ui:composition>



</html>