<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/connectedarch.xhtml">
<f:metadata>
    <f:event type="preRenderView"
        listener="#{mbStudent.redirectToLoginIfNotLoggedIn()}" />
</f:metadata>
	<ui:define name="head">
		<title>Exercise Session</title>
	</ui:define>
	<ui:define name="content">

		<b:jumbotron style="text-align: center;
			padding-bottom:5px;
			height: 28rem;
			padding-left:5px;
			padding-right:5px;
			margin-bottom:5px;
		">
			<h1>#{mbSession.currentExercise.questionValue}</h1>
			<b:well>
				<h4>#{mbSession.currentExercise.exercise_type.exerciseType}</h4>
				#{mbSession.currentExercise.exercise_type.instruction}
			</b:well>
		</b:jumbotron>
		
		<h:form id= "answerForm" style="text-align: center;">
		<p:message for="answer" showDetail="true" closable="true" style="font-size: initial; margin-bottom: 5px; margin-left: 5rem;"></p:message>
			<h:inputText id="answer" value="#{mbSession.currentAnswer}"
				placeholder="Saisir votre réponse..." minlength="1" maxlength="100"
				style="width: 80%;
					  height: 5rem;
					  text-align:center;
					  background: #f5f5f5;
					  border: none;
					  border-radius: 1.625rem;
					  padding: 0 1rem 0 2rem;
					  font-size: 2.5rem;
					  margin-bottom : 10px;
 					 "/>
			<b:commandButton action="#{mbSession.checkAnswer()}" value="Valider" class="button"/>
		</h:form>

		<h:form style="text-align: center;">
			<b:button onclick="showFlashcardFunction()"
				disabled="#{mbSession.answerIsRight}" value="À l'aide !" class="button"></b:button>
		</h:form>
		<div id="termFlashcard" class="hidden">
			<b:panel look="primary">
				<div class="flashcard">
					<div class="flashcard-element-1">
						<h2 style="text-transform: uppercase;">#{mbSession.currentTerm.englishTerm}</h2>
						(#{mbSession.currentTerm.type.termType})
						<h3>Français</h3>
						<ul>
							<li class="term-info">#{mbSession.currentTerm.frenchTerm}</li>
						</ul>
						<p></p>
						<h3>Phonétique</h3>
						<ul>
							<li class="term-info">#{mbSession.currentTerm.phonetics}</li>
						</ul>
						<h3>Prononciation</h3>
						<p:audio id="audio"
							value="/resources/audio/#{mbSession.currentTerm.audioLink}"
							player="ogg" controls="true" class="audio">
							<p>Votre navigateur ne permet pas la lecture de fichiers
								audio.</p>
						</p:audio>
					</div>
					<div class="flashcard-element-3">
						<h3>Définition</h3>
						<p>#{mbSession.currentTerm.definition}</p>
						<br />
						<h3>Astuce mémotechnique</h3>
						<p>#{mbSession.currentTerm.mnemonics}</p>
					</div>
					<div class="flashcard-element-2">
						<p>Niveau : #{mbSession.currentTerm.studentlevel.intLevel}</p>
						<p>Thème : #{mbSession.currentTerm.theme.theme}</p>
					</div>
				</div>
			</b:panel>
		</div>
		<h:outputScript library="js" name="session.js" />
	</ui:define>
</ui:composition>



</html>