<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/connectedarch.xhtml">
<f:metadata>
    <f:event type="preRenderView"
        listener="#{mbStudent.redirectToLoginIfNotLoggedIn()}" />
</f:metadata>
	<ui:define name="head">
		<title>Search</title>
	</ui:define>

	<ui:define name="content">
		<b:breadcrumbs>
			<b:navLink value="Accueil" outcome="index.xhtml" />
			<f:facet name="end"> Cahier de leçons </f:facet>
		</b:breadcrumbs>

		<div class="page-body">
			<div class="connectedContent">
			<h2>Lessons par thème</h2>
			<br />
			<div class="flex-content">
				<ui:repeat var="category" value="#{mbLesson.themes}">
					<div class="category-element">
						<h:form>
							<b:commandButton value="#{category.theme}" action="#{mbTerm.findTermsByTheme(category.theme)}" class="theme-button"></b:commandButton>
						</h:form>
					</div>
				</ui:repeat>
			</div>
			<br />
			<h2>Lessons par niveau</h2>
			<br />
			<div class="flex-content">
				<ui:repeat var="level" value="#{mbLesson.openLevels}">
					
					<div class="level-element">
						<h:form>
							<b:commandButton value="Niveau #{level.intLevel}" action="#{mbTerm.findTermsByLevel(level.intLevel)}"
								class="lesson-button"></b:commandButton>
						</h:form>
					</div>
				</ui:repeat>
				<ui:repeat var="level" value="#{mbLesson.lockedLevels}">
					<div class="level-element">
						<h:form>
							<b:commandButton value="Niveau #{level.intLevel}" action="#{mbTerm.findTermsByLevel(level.intLevel)}"
								class="lesson-button" disabled="true"></b:commandButton>
						</h:form>
					</div>
				</ui:repeat>
			</div>
			</div>
		</div>
	</ui:define>
</ui:composition>



</html>