<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/connectedarch.xhtml">
<f:metadata>
    <f:event type="preRenderView"
        listener="#{mbStudent.redirectToLoginIfNotLoggedIn()}" />
</f:metadata>
	<ui:define name="head">
		<title>Flashcard</title>
	</ui:define>

	<ui:define name="content">
		<b:breadcrumbs>
			<b:navLink value="Accueil" outcome="index.xhtml" />
			<b:navLink value="Cahier de leçons" outcome="findlesson.xhtml" />
			<f:facet name="end"> Flashcard </f:facet>
		</b:breadcrumbs>

		<div class="page-body">
			<div class="connectedContent">
			<div class="flex-column">
			<b:tabView tabPosition="left" activeIndex="#{mbTerm.index}">
					<b:tab title="#{term.englishTerm}" var="term" value="#{mbTerm.termsByCriteria}">
					<div class="flashcard">
							<div class="flashcard-element-1">
								<h2 style="text-transform: uppercase; ">#{term.englishTerm}</h2>
								<p>(#{term.type.termType})</p>
								<h3>Français</h3>
								<ul>
									<li class="term-info">#{term.frenchTerm}</li>
								</ul>
								<p></p>
								<h3>Phonétique</h3>
								<ul>
									<li class="term-info">#{term.phonetics}</li>
								</ul>
								<h3>Prononciation</h3>
								<p:audio value="/resources/audio/#{term.audioLink}" player="ogg"
								controls="true" class="audio">
									Votre navigateur ne permet pas la lecture de fichiers audio.
								 </p:audio>
							</div>
							<div class="flashcard-element-3">
								<h3>Définition</h3>
								<p>#{term.definition}</p>
								<br />
								<h3>Astuce mémotechnique</h3>
								<p>#{term.mnemonics}</p>
							</div>
							<div class="flashcard-element-2">
								<p>Niveau : #{term.studentlevel.intLevel}</p>
								<p>Thème : #{term.theme.theme}</p>
							</div>
							</div>
					</b:tab>
				</b:tabView>
			</div>

			</div>
		</div>
		<script type="text/javascript" src="flashcard.js"></script>
	</ui:define>
</ui:composition>



</html>