<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/connectedarch.xhtml">
	<ui:define name="head">
		<title>Help Page</title>
	</ui:define>
	<ui:define name="content">
	<div class="connectedContent" style="padding:20px; padding-bottom:40px; margin-bottom: 50px;">
	<h1 style="text-align: center">Centre d'Aide</h1>
	<h4 style="text-align: center">Tout ce qu'il faut pour faire pousser un arbre du savoir </h4>
	<br/>
	<div style="text-align:center;">
	<h:graphicImage value="/resources/pictures/icons8-tree-58.png" />
	<h:graphicImage value="/resources/pictures/icons8-tree-58.png" />
	<h:graphicImage value="/resources/pictures/icons8-tree-58.png" />
	<h:graphicImage value="/resources/pictures/icons8-tree-58.png" />
	<h:graphicImage value="/resources/pictures/icons8-tree-58.png" class="hideOnSmall"/>
	<h:graphicImage value="/resources/pictures/icons8-tree-58.png" class="hideOnSmall"/>
	<h:graphicImage value="/resources/pictures/icons8-tree-58.png" class="hideOnSmall"/>
	<h:graphicImage value="/resources/pictures/icons8-tree-58.png" class="hideOnSmall"/>
	<h:graphicImage value="/resources/pictures/icons8-tree-58.png" class="hideOnSmall"/>
	<h:graphicImage value="/resources/pictures/icons8-tree-58.png" class="hideOnSmall"/>
	<h:graphicImage value="/resources/pictures/icons8-tree-58.png" class="hideOnSmall"/>
	<h:graphicImage value="/resources/pictures/icons8-tree-58.png" class="hideOnSmall"/>
	<h:graphicImage value="/resources/pictures/icons8-tree-58.png" class="hideOnSmall"/>
	<h:graphicImage value="/resources/pictures/icons8-tree-58.png" class="hideOnSmall"/>
	<h:graphicImage value="/resources/pictures/icons8-tree-58.png" class="hideOnSmall"/>
	<h:graphicImage value="/resources/pictures/icons8-tree-58.png" class="hideOnSmall"/>
	<h:graphicImage value="/resources/pictures/icons8-tree-58.png" class="hideOnSmall"/>
	<h:graphicImage value="/resources/pictures/icons8-tree-58.png" class="hideOnSmall"/>
	</div>
	<br/>
	<h:form>
		<p:fieldset legend="Mon compte" toggleable="true" toggleSpeed="500" style-class="hover;">
		<p:accordionPanel>
            <p:tab title="Comment m'inscrire ?">
                <p class="p-m-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </p:tab>
            <p:tab title="Comment faire pour modifier mes informations ?">
                <p class="p-m-0">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                    illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                    odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
                </p>
            </p:tab>
            <p:tab title="Pourquoi devrais-je me créer un compte ?">
                <p class="p-m-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
                    et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                </p>
            </p:tab>
        </p:accordionPanel>
        </p:fieldset>
        
        <p:fieldset legend="Mes lessons" toggleable="true" toggleSpeed="500">
		<p:accordionPanel>
            <p:tab title="Comment commencer une séance d'apprentissage ?">
                <p class="p-m-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </p:tab>
            <p:tab title="Comment débloquer de nouvelles leçons ?">
                <p class="p-m-0">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                    illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                    odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
                </p>
            </p:tab>
            <p:tab title="Est-ce que je peux revoir les lessons passées ?">
                <p class="p-m-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
                    et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                </p>
            </p:tab>
            <p:tab title="Comment changer le nombre de leçons par séance ?">
                <p class="p-m-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
                    et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                </p>
            </p:tab>
        </p:accordionPanel>
        </p:fieldset>
        
        <p:fieldset legend="Mes exercices de révision" toggleable="true" toggleSpeed="500">
		<p:accordionPanel>
            <p:tab title="Comment faire un exercice de révision ?">
                <p class="p-m-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </p:tab>
            <p:tab title="Pourquoi dois-je attendre pour faire mon exercice ?">
                <p class="p-m-0">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                    illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                    odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
                </p>
            </p:tab>
            <p:tab title="Pourquoi est-ce que ma réponse est fausse ?">
                <p class="p-m-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
                    et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                </p>
            </p:tab>
            <p:tab title="Comment faire si je ne connais pas la réponse ?">
                <p class="p-m-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
                    et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                </p>
            </p:tab>
            <p:tab title="Qu'est-ce qui se passe si je quitte la séance avant la fin ?">
                <p class="p-m-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
                    et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                </p>
            </p:tab>
        </p:accordionPanel>
        </p:fieldset>
        
        <p:fieldset legend="Ma progression" toggleable="true" toggleSpeed="500">
		<p:accordionPanel>
            <p:tab title="Comment puis-je changer de niveau ? ">
                <p class="p-m-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </p:tab>
            <p:tab title="Que veulent dire les chiffres sur mon tableau de bord ?">
                <p class="p-m-0">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                    illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                    odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
                </p>
            </p:tab>
        </p:accordionPanel>
        </p:fieldset>
	</h:form>
        </div>
   	</ui:define>
</ui:composition>



</html>