<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/connectedarch.xhtml">
<f:metadata>
    <f:event type="preRenderView"
        listener="#{mbStudent.redirectToLoginIfNotLoggedIn()}" />
</f:metadata>
	<ui:define name="head">
		<title>Tableau de bord</title>
	</ui:define>

	<ui:define name="content">
		<div class="flex-content connectedContent">
			<div class="full-width-div">
				<h1>Niveau #{mbStudent.student.studentlevel.intLevel}</h1>
				<b:progressBar value="#{mbLearning.calculateProgress()}"
					look="#{mbLearning.setProgressBarLook()}" large-screen="full-width"
					small-screen="full-width" tiny-screen="full-width"
					tooltip="Encore un petit effort !" visible="xs...lg" col-md="6"
					style-class="col-sm-offset-1 col-md-offset-2 col-xs-12 col-sm-10 col-md-8" />
					<b:growl id="growlMsg" globalOnly="true" placementFrom="bottom"
			         show-detail="true" show-summary="false" allowDismiss="true"
			         delay="10000" escape="true" icon="fa-check-circle-o"/>
			</div>
			<div class="forecast">
				<h4>Prochaines révisions :</h4>
				<b:accordion expanded-panels="panel1">
					<b:panel id="panel1"
						title="Aujourd'hui &emsp; +#{mbLearning.todayUpcomingReviews.size()}"
						look="primary">
						<span
							style="display:#{mbLearning.defineDisplay(0, mbLearning.timesToday)}">0h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesToday.get(0))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesToday.get(0)}&emsp;| &emsp;
							#{mbLearning.timesToday.get(0)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(1, mbLearning.timesToday)}">1h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesToday.get(1))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesToday.get(1)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(1,mbLearning.timesToday)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(2, mbLearning.timesToday)}">2h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesToday.get(2))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesToday.get(2)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(2,mbLearning.timesToday)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(3, mbLearning.timesToday)}">3h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesToday.get(3))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesToday.get(3)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(3,mbLearning.timesToday)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(4, mbLearning.timesToday)}">4h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesToday.get(4))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesToday.get(4)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(4,mbLearning.timesToday)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(5, mbLearning.timesToday)}">5h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesToday.get(5))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesToday.get(5)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(5,mbLearning.timesToday)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(6, mbLearning.timesToday)}">6h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesToday.get(6))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesToday.get(6)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(6,mbLearning.timesToday)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(7, mbLearning.timesToday)}">7h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesToday.get(7))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesToday.get(7)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(7,mbLearning.timesToday)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(8, mbLearning.timesToday)}">8h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesToday.get(8))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesToday.get(8)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(8,mbLearning.timesToday)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(9, mbLearning.timesToday)}">9h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesToday.get(9))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesToday.get(9)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(9,mbLearning.timesToday)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(10, mbLearning.timesToday)}">10h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesToday.get(10))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesToday.get(10)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(10,mbLearning.timesToday)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(11, mbLearning.timesToday)}">11h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesToday.get(11))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesToday.get(11)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(11,mbLearning.timesToday)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(12, mbLearning.timesToday)}">12h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesToday.get(12))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesToday.get(12)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(12,mbLearning.timesToday)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(13, mbLearning.timesToday)}">13h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesToday.get(13))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesToday.get(13)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(13,mbLearning.timesToday)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(14, mbLearning.timesToday)}">14h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesToday.get(14))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesToday.get(14)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(14,mbLearning.timesToday)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(15, mbLearning.timesToday)}">15h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesToday.get(15))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesToday.get(15)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(15,mbLearning.timesToday)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(16, mbLearning.timesToday)}">16h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesToday.get(16))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesToday.get(16)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(16,mbLearning.timesToday)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(17, mbLearning.timesToday)}">17h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesToday.get(17))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesToday.get(17)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(17,mbLearning.timesToday)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(18, mbLearning.timesToday)}">18h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesToday.get(18))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesToday.get(18)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(18,mbLearning.timesToday)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(19, mbLearning.timesToday)}">19h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesToday.get(19))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesToday.get(19)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(19,mbLearning.timesToday)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(20, mbLearning.timesToday)}">20h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesToday.get(20))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesToday.get(20)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(20,mbLearning.timesToday)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(21, mbLearning.timesToday)}">21h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesToday.get(21))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesToday.get(21)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(21,mbLearning.timesToday)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(22, mbLearning.timesToday)}">22h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesToday.get(22))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesToday.get(22)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(22,mbLearning.timesToday)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(23, mbLearning.timesToday)}">23h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesToday.get(23))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesToday.get(23)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(23,mbLearning.timesToday)}
						</span>
					</b:panel>
					<b:panel id="panel2"
						title="Demain &emsp; +#{mbLearning.tomorrowUpcomingReviews.size()}"
						look="primary">
						<span
							style="display:#{mbLearning.defineDisplay(0, mbLearning.timesTomorrow)}">0h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(0))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesTomorrow.get(0)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(1,mbLearning.timesTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(1, mbLearning.timesTomorrow)}">1h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(1))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesTomorrow.get(1)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(1,mbLearning.timesTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(2, mbLearning.timesTomorrow)}">2h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(2))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesTomorrow.get(2)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(2,mbLearning.timesTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(3, mbLearning.timesTomorrow)}">3h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(3))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesTomorrow.get(3)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(3,mbLearning.timesTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(4, mbLearning.timesTomorrow)}">4h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(4))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesTomorrow.get(4)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(4,mbLearning.timesTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(5, mbLearning.timesTomorrow)}">5h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(5))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesTomorrow.get(5)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(5,mbLearning.timesTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(6, mbLearning.timesTomorrow)}">6h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(6))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesTomorrow.get(6)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(6,mbLearning.timesTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(7, mbLearning.timesTomorrow)}">7h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(7))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesTomorrow.get(7)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(7,mbLearning.timesTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(8, mbLearning.timesTomorrow)}">8h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(8))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesTomorrow.get(8)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(8,mbLearning.timesTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(9, mbLearning.timesTomorrow)}">9h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(9))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesTomorrow.get(9)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(9,mbLearning.timesTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(10, mbLearning.timesTomorrow)}">10h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(10))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesTomorrow.get(10)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(10,mbLearning.timesTomorrow)}}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(11, mbLearning.timesTomorrow)}">11h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(11))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesTomorrow.get(11)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(11,mbLearning.timesTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(12, mbLearning.timesTomorrow)}">12h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(12))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesTomorrow.get(12)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(12,mbLearning.timesTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(13, mbLearning.timesTomorrow)}">13h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(13))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesTomorrow.get(13)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(13,mbLearning.timesTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(14, mbLearning.timesTomorrow)}">14h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(14))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesTomorrow.get(14)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(14,mbLearning.timesTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(15, mbLearning.timesTomorrow)}">15h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(15))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesTomorrow.get(15)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(15,mbLearning.timesTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(16, mbLearning.timesTomorrow)}">16h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(16))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesTomorrow.get(16)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(16,mbLearning.timesTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(17, mbLearning.timesTomorrow)}">17h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(17))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesTomorrow.get(17)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(17,mbLearning.timesTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(18, mbLearning.timesTomorrow)}">18h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(18))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesTomorrow.get(18)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(18,mbLearning.timesTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(19, mbLearning.timesTomorrow)}">19h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(19))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesTomorrow.get(19)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(19,mbLearning.timesTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(20, mbLearning.timesTomorrow)}">20h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(20))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesTomorrow.get(20)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(20,mbLearning.timesTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(21, mbLearning.timesTomorrow)}">21h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(21))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesTomorrow.get(21)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(21,mbLearning.timesTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(22, mbLearning.timesTomorrow)}">22h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(22))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesTomorrow.get(22)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(22,mbLearning.timesTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(23, mbLearning.timesTomorrow)}">23h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(23))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesTomorrow.get(23)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(23,mbLearning.timesTomorrow)}
						</span>
					</b:panel>
					<b:panel id="panel3"
						title="Après-demain &emsp;  +#{mbLearning.afterTomorrowUpcomingReviews.size()}"
						look="primary">
						<span
							style="display:#{mbLearning.defineDisplay(0, mbLearning.timesAfterTomorrow)}">0h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesAfterTomorrow.get(0))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesAfterTomorrow.get(0)}&emsp;| &emsp;
							#{mbLearning.timesAfterTomorrow.get(0)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(1, mbLearning.timesAfterTomorrow)}">1h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesTomorrow.get(1))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesAfterTomorrow.get(1)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(1,mbLearning.timesAfterTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(2, mbLearning.timesAfterTomorrow)}">2h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesAfterTomorrow.get(2))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesAfterTomorrow.get(2)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(2,mbLearning.timesAfterTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(3, mbLearning.timesAfterTomorrow)}">3h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesAfterTomorrow.get(3))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesAfterTomorrow.get(3)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(3,mbLearning.timesAfterTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(4, mbLearning.timesAfterTomorrow)}">4h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesAfterTomorrow.get(4))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesAfterTomorrow.get(4)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(4,mbLearning.timesAfterTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(5, mbLearning.timesAfterTomorrow)}">5h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesAfterTomorrow.get(5))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesAfterTomorrow.get(5)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(5,mbLearning.timesAfterTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(6, mbLearning.timesAfterTomorrow)}">6h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesAfterTomorrow.get(6))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesAfterTomorrow.get(6)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(6,mbLearning.timesAfterTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(7, mbLearning.timesAfterTomorrow)}">7h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesAfterTomorrow.get(7))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesAfterTomorrow.get(7)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(7,mbLearning.timesAfterTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(8, mbLearning.timesAfterTomorrow)}">8h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesAfterTomorrow.get(8))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesAfterTomorrow.get(8)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(8,mbLearning.timesAfterTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(9, mbLearning.timesAfterTomorrow)}">9h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesAfterTomorrow.get(9))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesAfterTomorrow.get(9)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(9,mbLearning.timesAfterTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(10, mbLearning.timesAfterTomorrow)}">10h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesAfterTomorrow.get(10))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesAfterTomorrow.get(10)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(10,mbLearning.timesAfterTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(11, mbLearning.timesAfterTomorrow)}">11h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesAfterTomorrow.get(11))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesAfterTomorrow.get(11)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(11,mbLearning.timesAfterTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(12, mbLearning.timesAfterTomorrow)}">12h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesAfterTomorrow.get(12))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesAfterTomorrow.get(12)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(12,mbLearning.timesAfterTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(13, mbLearning.timesAfterTomorrow)}">13h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesAfterTomorrow.get(13))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesAfterTomorrow.get(13)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(13,mbLearning.timesAfterTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(14, mbLearning.timesAfterTomorrow)}">14h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesAfterTomorrow.get(14))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesAfterTomorrow.get(14)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(14,mbLearning.timesAfterTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(15, mbLearning.timesAfterTomorrow)}">15h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesAfterTomorrow.get(15))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesAfterTomorrow.get(15)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(15,mbLearning.timesAfterTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(16, mbLearning.timesAfterTomorrow)}">16h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesAfterTomorrow.get(16))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesAfterTomorrow.get(16)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(16,mbLearning.timesAfterTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(17, mbLearning.timesAfterTomorrow)}">17h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesAfterTomorrow.get(17))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesAfterTomorrow.get(17)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(17,mbLearning.timesAfterTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(18, mbLearning.timesAfterTomorrow)}">18h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesAfterTomorrow.get(18))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesAfterTomorrow.get(18)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(18,mbLearning.timesAfterTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(19, mbLearning.timesAfterTomorrow)}">19h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesAfterTomorrow.get(19))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesAfterTomorrow.get(19)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(19,mbLearning.timesAfterTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(20, mbLearning.timesAfterTomorrow)}">20h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesAfterTomorrow.get(20))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesAfterTomorrow.get(20)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(20,mbLearning.timesAfterTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(21, mbLearning.timesAfterTomorrow)}">21h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesAfterTomorrow.get(21))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesAfterTomorrow.get(21)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(21,mbLearning.timesAfterTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(22, mbLearning.timesAfterTomorrow)}">22h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesAfterTomorrow.get(22))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesAfterTomorrow.get(22)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(22,mbLearning.timesAfterTomorrow)}
						</span>
						<span
							style="display:#{mbLearning.defineDisplay(23, mbLearning.timesAfterTomorrow)}">23h&emsp;
							<b:iconAwesome
								value="#{mbLearning.showWeatherIcon(mbLearning.timesAfterTomorrow.get(23))}"></b:iconAwesome>&emsp;|
							+#{mbLearning.timesAfterTomorrow.get(23)}&emsp;| &emsp;
							#{mbLearning.addingUpReview(23,mbLearning.timesAfterTomorrow)}
						</span>
					</b:panel>
				</b:accordion>
			</div>
			<div>
				<h:form>
					<b:commandButton value="Leçons" class="dashboard-button leftbutton"
						action="#{mbSession.startLessonSession()}" disabled="#{mbLearning.areNoLessons}">
						<div class="sessionNb">
							<p style="font-size: 13pt; padding: 2px;">#{mbLearning.findNbNewLessons()}</p>
						</div>
					</b:commandButton>
				</h:form>
			</div>
			<div>
				<h:form>
					<b:commandButton value="Exercices" class="dashboard-button rightbutton" disabled="#{mbLearning.areNoExercises}"
						action="#{mbSession.startExerciseSession()}">
						<div class="sessionNb">
							<p style="font-size: 13pt; padding: 2px;">#{mbLearning.findNbNewExercises()}</p>
						</div>
					</b:commandButton>
				</h:form>
			</div>
			<div class="acquisition-overview"
				style="background-color: hsl(217, 80%, 70%);">
				<h1>#{mbLearning.progressOverview(mbLearning.acqLvl1)}</h1>
				<h3>#{mbLearning.acqLvl1}</h3>
			</div>
			<div class="acquisition-overview"
				style="background-color: hsl(217, 70%, 60%);">
				<h1>#{mbLearning.progressOverview(mbLearning.acqLvl2)}</h1>
				<h3>#{mbLearning.acqLvl2}</h3>
			</div>
			<div class="acquisition-overview"
				style="background-color: hsl(217, 89%, 61%);">
				<h1>#{mbLearning.progressOverview(mbLearning.acqLvl3)}</h1>
				<h3>#{mbLearning.acqLvl3}</h3>
			</div>
			<div class="acquisition-overview"
				style="background-color: hsl(217, 70%, 45%);">
				<h1>#{mbLearning.progressOverview(mbLearning.acqLvl4)}</h1>
				<h3>#{mbLearning.acqLvl4}</h3>
			</div>
			<div class="acquisition-overview" style="background-color: hsl(239, 57%, 38%);">
				<h1>#{mbLearning.progressOverview(mbLearning.acqLvl5)}</h1>
				<h3>#{mbLearning.acqLvl5}</h3>
			</div>

		</div>
	</ui:define>
</ui:composition>



</html>