<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/connectedarch.xhtml">
	<ui:define name="head">
		<title>Landing Page</title>
	</ui:define>
	<ui:define name="content">
	<div class="visitor-background">
		<b:container>
			<b:jumbotron style="margin-top: 8rem; height:35rem;" class="disconnectedContent">
				<h1>Bienvenue !</h1>
				<p>Étendez vos connaissances et votre vocabulaire anglais de façon ludique. 
				N'attendez plus, le bilingüisme commence maintenant !</p>
				<p>
					<a href="signup.xhtml" class="btn btn-primary btn-lg">S'inscrire</a>
				</p>
			</b:jumbotron>
		</b:container>
	</div>
	</ui:define>
</ui:composition>



</html>