<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/connectedarch.xhtml">
	<f:metadata>
		<f:event type="preRenderView"
			listener="#{mbStudent.redirectToLoginIfNotLoggedIn()}" />
	</f:metadata>
	<ui:define name="head">
		<title>Séance d'apprentissage</title>
	</ui:define>
	<ui:define name="content">
		<b:form>
			<b:carousel id="lessonSession" styleClass="sessionPseudoClass"
				startAnimation="false" showIndicators="true" wrap="false">
				<c:forEach items="#{mbSession.lessonSessionContents}"
					var="currentLesson">
					<b:carouselItem>
						<b:panel look="primary" class="sessionPanel">
							<div class="flashcard">
								<div class="flashcard-element-1">
									<h2 style="text-transform: uppercase;">#{currentLesson.term.englishTerm}</h2>
									(#{currentLesson.term.type.termType})
									<h3>Français</h3>
									<ul>
										<li class="term-info">#{currentLesson.term.frenchTerm}</li>
									</ul>
									<p></p>
									<h3>Phonétique</h3>
									<ul>
										<li class="term-info">#{currentLesson.term.phonetics}</li>
									</ul>
									<h3>Prononciation</h3>
									<p:audio id="audio"
										value="/resources/audio/#{currentLesson.term.audioLink}"
										player="ogg" controls="true" class="audio">
										Votre navigateur ne permet pas la lecture de fichiers audio.
									 </p:audio>
								</div>
								<div class="flashcard-element-3">
									<h3>Définition</h3>
									<p>#{currentLesson.term.definition}</p>
									<br />
									<h3>Astuce mémotechnique</h3>
									<p>#{currentLesson.term.mnemonics}</p>
								</div>
								<div class="flashcard-element-2">
									<p>Niveau : #{currentLesson.term.studentlevel.intLevel}</p>
									<p>Thème : #{currentLesson.term.theme.theme}</p>
								</div>
							</div>
						</b:panel>
					</b:carouselItem>
				</c:forEach>
				<b:carouselControl direction="right">
					<b:button value="Leçon précédente" class="carouselControl"
						onclick="$('.sessionPseudoClass').carousel('prev');$('.sessionPseudoClass').carousel('pause');"
						look="primary" />
				</b:carouselControl>
				<b:carouselControl direction="left">
					<b:button value="Leçon suivante" class="carouselControl"
						style="position:absolute;right:0px"
						onclick="$('.sessionPseudoClass').carousel('next');$('.sessionPseudoClass').carousel('pause');"
						look="primary" />
				</b:carouselControl>
				<b:carouselControl direction="left">
					<b:button value="Finir la séance"
						style="position:absolute;right:9em;"
						href="#{mbSession.endLessonSession()}" look="success"
						disabled="false" styleClass="endButtonPseudoClass carouselControl" />
				</b:carouselControl>
			</b:carousel>
		</b:form>
	</ui:define>
</ui:composition>



</html>