<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	<ui:composition template="/connectedarch.xhtml">
		<ui:define name="head">
			<title>Connexion</title>
		</ui:define>
		<ui:define name="content">
		<div class="visitor-background">
			<b:form id="loginForm">
				<b:panel
					style-class="col-sm-offset-2 col-md-offset-2 col-xs-15 col-sm-8 col-md-9">
					<b:row>
						<b:column
							style-class="hidden-xs top-1rem col-sm-offset-1 col-sm-2 col-md-2">
							<h:outputText value="Identifiant" />
						</b:column>
						<b:column
							style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
							<h:outputText value="Identifiant" />
						</b:column>
						<b:column
							style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
							<b:inputText id="inLogin"
								placeholder="Veuillez entrer un identifiant"
								value="#{mbStudent.username}">
								<f:facet name="prepend">
									<b:icon name="user" />
								</f:facet>
							</b:inputText>
						</b:column>
					</b:row>
					<b:row>
						<b:column
							style-class="hidden-xs top-1rem col-sm-offset-1 col-sm-2 col-md-2">
							<h:outputText value="Mot de passe" />
						</b:column>
						<b:column
							style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
							<h:outputText value="Mot de passe" />
						</b:column>
						<b:column
							style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
							<b:inputSecret id="inPassword"
								placeholder="Veuillez entrer un mot de passe"
								value="#{mbStudent.password}">
								<f:facet name="prepend">
									<b:iconAwesome name="key" />
								</f:facet>
							</b:inputSecret>
						</b:column>
					</b:row>
					<b:row>
						<b:column>
							<b:message for="inPassword" />
						</b:column>
					</b:row>
					<b:row>
						<b:column
							style-class="padding-1rem col-xs-offset-4 col-sm-offset-4 col-xs-5 col-sm-10 col-md-4">
							<b:commandButton style-class="width-100" value="Connexion"
								action="#{mbStudent.connect()}" />
						</b:column>
					</b:row>
				</b:panel>
			</b:form>
			</div>			
		</ui:define>
	</ui:composition>
	
	
	
</html>