<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/connectedarch.xhtml">
	<ui:define name="head">
		<title>CGU</title>
	</ui:define>

	<ui:define name="content">
	<div class="visitor-background">
	<b:panel class="disconnectedContent" style="max-height: 82vh; position: relative; overflow-y: auto;">
		<h1 style="text-align:center;">Politique de Confidentialité</h1>
		<br />
		<div class="legal">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
				do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
				enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
				ut aliquip ex ea commodo consequat. Duis aute irure dolor in
				reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
				pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
				culpa qui officia deserunt mollit anim id est laborum.</p>
			<br />
			<h4>
				<b>Article 1 : Les mentions légales</b>
			</h4>

			<p>L’édition et la direction de la publication du site
				https://learningtree.fr est assurée par Pascal Murat, domicilié 123
				adresse fictive 95012 Paris.</p>
			<br />
			<h4>
				<b>ARTICLE 2 : Accès au site</b>
			</h4>

			<p>Le site https://learningtree.fr permet à l'Utilisateur un
				accès gratuit aux services suivants : Le site internet propose les
				services suivants : • un espace d'apprentissage de l'anglais, • des
				exercices d'application pour favoriser la mémorisation . Le site est
				accessible gratuitement en tout lieu à tout Utilisateur ayant un
				accès à Internet. Tous les frais supportés par l'Utilisateur pour
				accéder au service (matériel informatique, logiciels, connexion
				Internet, etc.) sont à sa charge. L’Utilisateur non membre n'a pas
				accès aux services réservés. Pour cela, il doit s’inscrire en
				remplissant le formulaire. En acceptant de s’inscrire aux services
				réservés, l’Utilisateur membre s’engage à fournir des informations
				sincères et exactes concernant son état civil et ses coordonnées,
				notamment son adresse email. Pour accéder aux services,
				l’Utilisateur doit ensuite s'identifier à l'aide de son identifiant
				et de son mot de passe qui lui seront communiqués après son
				inscription. Tout Utilisateur membre régulièrement inscrit pourra
				également solliciter sa désinscription en se rendant à la page
				dédiée sur son espace personnel. Celle-ci sera effective dans un
				délai raisonnable. Tout événement dû à un cas de force majeure ayant
				pour conséquence un dysfonctionnement du site ou serveur et sous
				réserve de toute interruption ou modification en cas de maintenance,
				n'engage pas la responsabilité de https://learningtree.fr. Dans ces
				cas, l’Utilisateur accepte ainsi ne pas tenir rigueur à l’éditeur de
				toute interruption ou suspension de service, même sans préavis.
				L'Utilisateur a la possibilité de contacter le site par messagerie
				électronique à l’adresse email de l’éditeur communiqué à l’ARTICLE
				1.</p>
			<br />
			<h4>
				<b>ARTICLE 3 : Collecte des données</b>
			</h4>

			<p>Le site assure à l'Utilisateur une collecte et un traitement
				d'informations personnelles dans le respect de la vie privée
				conformément à la loi n°78-17 du 6 janvier 1978 relative à
				l'informatique, aux fichiers et aux libertés. En vertu de la loi
				Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur
				dispose d'un droit d'accès, de rectification, de suppression et
				d'opposition de ses données personnelles. L'Utilisateur exerce ce
				droit : · via son espace personnel ;</p>
			<br />
			<h4>
				<b>ARTICLE 4 : Propriété intellectuelle</b>
			</h4>

			<p>Les marques, logos, signes ainsi que tous les contenus du site
				(textes, images, son…) font l'objet d'une protection par le Code de
				la propriété intellectuelle et plus particulièrement par le droit
				d'auteur. L'Utilisateur doit solliciter l'autorisation préalable du
				site pour toute reproduction, publication, copie des différents
				contenus. Il s'engage à une utilisation des contenus du site dans un
				cadre strictement privé, toute utilisation à des fins commerciales
				et publicitaires est strictement interdite. Toute représentation
				totale ou partielle de ce site par quelque procédé que ce soit, sans
				l’autorisation expresse de l’exploitant du site Internet
				constituerait une contrefaçon sanctionnée par l’article L 335-2 et
				suivants du Code de la propriété intellectuelle. Il est rappelé
				conformément à l’article L122-5 du Code de propriété intellectuelle
				que l’Utilisateur qui reproduit, copie ou publie le contenu protégé
				doit citer l’auteur et sa source.</p>
			<br />
			<h4>
				<b>ARTICLE 5 : Responsabilité</b>
			</h4>

			<p>Les sources des informations diffusées sur le site
				https://learningtree.fr sont réputées fiables mais le site ne
				garantit pas qu’il soit exempt de défauts, d’erreurs ou d’omissions.
				Les informations communiquées sont présentées à titre indicatif et
				général sans valeur contractuelle. Malgré des mises à jour
				régulières, le site https://learningtree.fr ne peut être tenu
				responsable de la modification des dispositions administratives et
				juridiques survenant après la publication. De même, le site ne peut
				être tenue responsable de l’utilisation et de l’interprétation de
				l’information contenue dans ce site. L'Utilisateur s'assure de
				garder son mot de passe secret. Toute divulgation du mot de passe,
				quelle que soit sa forme, est interdite. Il assume les risques liés
				à l'utilisation de son identifiant et mot de passe. Le site décline
				toute responsabilité. Le site https://learningtree.fr ne peut être
				tenu pour responsable d’éventuels virus qui pourraient infecter
				l’ordinateur ou tout matériel informatique de l’Internaute, suite à
				une utilisation, à l’accès, ou au téléchargement provenant de ce
				site. La responsabilité du site ne peut être engagée en cas de force
				majeure ou du fait imprévisible et insurmontable d'un tiers.</p>
			<br />
			<h4>
				<b>ARTICLE 6 : Liens hypertextes</b>
			</h4>

			<p>Des liens hypertextes peuvent être présents sur le site.
				L’Utilisateur est informé qu’en cliquant sur ces liens, il sortira
				du site https://learningtree.fr. Ce dernier n’a pas de contrôle sur
				les pages web sur lesquelles aboutissent ces liens et ne saurait, en
				aucun cas, être responsable de leur contenu.</p>
			<br />
			<h4>
				<b>ARTICLE 7 : Cookies</b>
			</h4>

			<p>L’Utilisateur est informé que lors de ses visites sur le site,
				un cookie peut s’installer automatiquement sur son logiciel de
				navigation. Les cookies sont de petits fichiers stockés
				temporairement sur le disque dur de l’ordinateur de l’Utilisateur
				par votre navigateur et qui sont nécessaires à l’utilisation du site
				https://learningtree.fr. Les cookies ne contiennent pas
				d’information personnelle et ne peuvent pas être utilisés pour
				identifier quelqu’un. Un cookie contient un identifiant unique,
				généré aléatoirement et donc anonyme. Certains cookies expirent à la
				fin de la visite de l’Utilisateur, d’autres restent. L’information
				contenue dans les cookies est utilisée pour améliorer le site
				https://learningtree.fr. En naviguant sur le site, L’Utilisateur les
				accepte. L’Utilisateur pourra désactiver ces cookies par
				l’intermédiaire des paramètres figurant au sein de son logiciel de
				navigation.</p>
			<br />
			<h4>
				<b>ARTICLE 8 : Droit applicable et juridiction compétente</b>
			</h4>

			<p>La législation française s'applique au présent contrat. En cas
				d'absence de résolution amiable d'un litige né entre les parties,
				les tribunaux français seront seuls compétents pour en connaître.
				Pour toute question relative à l’application des présentes CGU, vous
				pouvez joindre l’éditeur aux coordonnées inscrites à l’ARTICLE 1.
				CGU réalisées sur http://legalplace.fr/</p>
		</div>
		</b:panel>
	</div>
	</ui:define>
</ui:composition>
</html>