<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/connectedarch.xhtml">
	<f:metadata>
		<f:event type="preRenderView"
			listener="#{mbStudent.redirectToLoginIfNotLoggedIn()}" />
	</f:metadata>
	<ui:define name="head">
		<title>Profil</title>
	</ui:define>
	<ui:define name="content">
		<div class="connectedContent" style="text-align: left;">

			<b:growl id="growlMsg" globalOnly="true" placementFrom="bottom"
				show-detail="true" show-summary="false" allowDismiss="true"
				delay="10000" escape="true" />

			<h:form style="text-align:center;">
				<p:fieldset legend="Mon Profil"
					style="margin:auto; max-width: 100rem; margin-top: 20px;">
					<div
						style="font-size: 14px; display: flex; flex-direction: column;">
						<p:growl id="growl" showDetail="true" value="Error"
							styleClass="p-mr-2 ui-button-warning" style="width: 10rem"></p:growl>
						<div>
							<p:outputLabel for="username" style="font-size:14px;">Identifiant :</p:outputLabel>
							<p:tooltip for="username" value="Clique pour modifier le champ"
								position="top" />
							<p:inplace id="username" editor="true">
								<p:inputText value="#{mbStudent.student.username}"
									required="true" label="text" />
							</p:inplace>

						</div>
						<div>
							<p:outputLabel for="email" style="font-size:14px;">Adresse e-mail :</p:outputLabel>
							<p:tooltip for="email" value="Clique pour modifier le champ"
								position="top" />
							<p:inplace id="email" editor="true">
								<p:inputText value="#{mbStudent.student.email}" required="true"
									label="text" />
							</p:inplace>
						</div>
						<div>
							<p:outputLabel for="nbLessonsPerSession" style="font-size:14px;">Nombre de lessons par séance d'apprentissage :</p:outputLabel>
							<p:tooltip for="nbLessonsPerSession"
								value="Clique pour modifier le champ" position="top" />
							<p:inplace id="nbLessonsPerSession" editor="true">
								<p:inputText value="#{mbStudent.student.nbLessonsPerClass}"
									required="true" label="text" />
							</p:inplace>
						</div>
						<br />
						<div>
							<p:commandButton value="Sauvegarder" action="#{mbStudent.save()}"
								update="growl" styleClass="ui-button-raised ui-button-info"></p:commandButton>
						</div>
					</div>
				</p:fieldset>
			</h:form>

			<div class="flex-content" style="margin: 40px; margin-left:5px; margin-right:5px;display: flex;">
				<div style="margin: auto; text-align: center;" class="p-mb-2 p-mr-2">
					<p:tooltip value="" position="top"></p:tooltip>
					<p:badge value="#{mbLearning.progressOverview(mbLearning.acqLvl1)}"
						styleClass="p-mr-2 badge"
						style="background-color:#fadadd; 
							color:hsl(239, 57%, 38%); 
							font-size: 2rem; 
							width:4rem; 
							height:2.4rem; 
							text-align:center; 
							margin-top:1rem;
							padding:0.2rem;">
						<h:graphicImage value="/resources/pictures/icons8-amande-100.png"
							alt="seed for acquisition level one" />
					</p:badge>
					<h3>#{mbLearning.acqLvl1}</h3>
				</div>
				<div style="margin: auto; text-align: center;" class="p-mb-2 p-mr-2">
					<p:tooltip value="" position="top"></p:tooltip>
					<p:badge value="#{mbLearning.progressOverview(mbLearning.acqLvl2)}"
						styleClass="p-mr-2"
						style="background-color:#fadadd; 
							color:hsl(239, 57%, 38%); 
							font-size: 2rem; 
							width:4rem; 
							height:2.4rem; 
							text-align:center; 
							margin-top:1rem;
							padding:0.2rem;">
						<h:graphicImage value="/resources/pictures/icons8-sprout-100.png"
							alt="seed for acquisition level two" />
					</p:badge>
					<h3>#{mbLearning.acqLvl2}</h3>
				</div>
				<div style="margin: auto; text-align: center;" class="p-mb-2 p-mr-2">
					<p:tooltip value="" position="top"></p:tooltip>
					<p:badge value="#{mbLearning.progressOverview(mbLearning.acqLvl3)}"
						styleClass="p-mr-2"
						style="background-color:#fadadd;
							 color:hsl(239, 57%, 38%); 
							 font-size: 2rem; 
							 width:4rem; 
							 height:2.4rem; 
							 text-align:center; 
							 margin-top:1rem;
							 padding:0.2rem;">
						<h:graphicImage value="/resources/pictures/icons8-sprout-1003.png"
							alt="seed for acquisition level three" />
					</p:badge>
					<h3>#{mbLearning.acqLvl3}</h3>
				</div>
				<div style="margin: auto; text-align: center;" class="p-mb-2 p-mr-2">
					<p:tooltip value="" position="top"></p:tooltip>
					<p:badge value="#{mbLearning.progressOverview(mbLearning.acqLvl4)}"
						styleClass="p-mr-2"
						style="background-color:#fadadd; 
							color:hsl(239, 57%, 38%); 
							font-size: 2rem; 
							width:4rem; 
							height:2.4rem; 
							text-align:center; 
							margin-top:1rem;
							padding:0.2rem;">
						<h:graphicImage
							value="/resources/pictures/icons8-plant-100(2).png"
							alt="seed for acquisition level four" />
					</p:badge>
					<h3>#{mbLearning.acqLvl4}</h3>
				</div>
				<div style="margin: auto; text-align: center;" class="p-mb-2 p-mr-2">
					<p:tooltip value="" position="top"></p:tooltip>
					<p:badge value="#{mbLearning.progressOverview(mbLearning.acqLvl5)}"
						styleClass="p-mr-2"
						style="background-color:#fadadd; 
							color:hsl(239, 57%, 38%); 
							font-size: 2rem; 
							width:4rem; 
							height:2.4rem; 
							text-align:center; 
							margin-top:1rem;
							padding:0.2rem;">
						<h:graphicImage value="/resources/pictures/icons8-tree-100(1).png"
							alt="seed for acquisition level five" />
					</p:badge>
					<h3>#{mbLearning.acqLvl5}</h3>
				</div>

			</div>
		</div>
	</ui:define>
</ui:composition>



</html>