<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/connectedarch.xhtml">
	<ui:define name="head">
		<title>Sign Up Page</title>
	</ui:define>
	<ui:define name="content">
		<div class="visitor-background">
			<div class="signupForm">
				<h1 style="margin-bottom: 35px; color: hsl(239, 57%, 38%);">Inscription</h1>
				<b:form id="signup" horizontal="false">
					<b:message for="signup" class="bf-error"></b:message>
					<b:inputText id="email" value="#{mbStudent.email}" label="E-mail :" placeholder="mon-email@email.fr"
						required="true" mask="email" large-screen="full-width"
						small-screen="one-third" tiny-screen="full-width" class="bf-required">
					</b:inputText>
					<b:message for="email" class="bf-error"></b:message>
					<b:formGroup>
						<b:inputText id="username" value="#{mbStudent.username}" label="Identifiant :" placeholder="MonIdentifiant"
							required="true" mask="{regex:'^[-\\w.]+$'}" large-screen="full-width"
							small-screen="full-width" tiny-screen="full-width" class="bf-required"
							minlength="3" maxlength="20">
						</b:inputText>
						<b:message for="username" class="bf-error"></b:message>
						<br/>
					</b:formGroup>
					
					<b:formGroup>
						<b:inputSecret id="password" value="#{mbStudent.password}" label="Mot de passe :" placeholder="*****"
							mask="{regex:'^[a-zA-Z\0-9]+$'}" large-screen="full-width"
							small-screen="one-third" tiny-screen="full-width" required="true"
							class="bf-required" minlength="5">
						</b:inputSecret>
						<b:message for="password" class="bf-error"></b:message>
						<br/>
					</b:formGroup>
					<b:formGroup>
						<b:selectBooleanCheckbox id="cgu" label="CGU"
							value="#{mbStudent.acceptsTerms}"
							caption="J'ai pris connaissance des CGU et de la politique de 
					confidentialité du site LearningTree et accepte les conditions d'utilisation."
							required="true" large-screen="full-width" />
						<b:message for="cgu" class="bf-error"></b:message>
					</b:formGroup>
					<b:commandButton type="submit" value="Devenir étudiant"
						action="#{mbStudent.register()}" class="button"></b:commandButton>
				</b:form>
			</div>
		</div>
	</ui:define>
</ui:composition>



</html>